################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchedulerApp.Worker/bin/Debug/net8.0
/SchedulerApp.Worker/obj/Debug/net8.0
.vs/SchedulerApp/v17/.suo
.vs/SchedulerApp/v17/.suo
SchedulerApp.Worker/obj/project.assets.json
SchedulerApp.Worker/obj/project.nuget.cache
/SchedulerApp.Worker/obj
/SchedulerApp.Worker/appsettings.json
/SchedulerApp.Worker/log.db
/SchedulerApp.Worker/log.db-shm
/SchedulerApp.Worker/log.db-wal
/SchedulerApp.Worker/appsettings.json
/SchedulerApp.Worker/log.db
/SchedulerApp.Worker/log.db-shm
/SchedulerApp.Worker/log.db-wal
/.vs/ProjectEvaluation/schedulerapp.metadata.v9.bin
/.vs/ProjectEvaluation/schedulerapp.projects.v9.bin
/.vs/ProjectEvaluation/schedulerapp.strings.v9.bin
/.vs/SchedulerApp/CopilotIndices/17.14.734.62261/CodeChunks.db
/.vs/SchedulerApp/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/.vs/SchedulerApp/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/.vs/SchedulerApp/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/.vs/SchedulerApp/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/.vs/SchedulerApp/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
/.vs/SchedulerApp/v17/.futdcache.v2
/.vs/SchedulerApp/v17/.suo
/.vs/SchedulerApp/v17/DocumentLayout.backup.json
/.vs/SchedulerApp/v17/DocumentLayout.json
/.vs/SchedulerApp/FileContentIndex/2661b630-9cf6-488e-adbe-036821484ea2.vsidx
/.vs/SchedulerApp/FileContentIndex/3bd29a70-97d5-40c6-9314-abca3c52431f.vsidx
/.vs/SchedulerApp/FileContentIndex/923f81a6-da2c-4bff-b3c5-18733868b0eb.vsidx
/.vs/SchedulerApp/FileContentIndex/94c489e7-86b4-491b-9c0c-e35c052f54e1.vsidx
/.vs/SchedulerApp/FileContentIndex/b4575900-8731-4095-a371-c8dd1d62cdf1.vsidx
/.vs/SchedulerApp/FileContentIndex/dbbb3305-999e-4eb6-b80c-a50c7bd809ea.vsidx
/.vs/SchedulerApp/DesignTimeBuild/.dtbcache.v2
